/* ---------banner info------- */


.banner-m{
    width: 100%;
    height: 646px;
    margin-top: 101px;
    background-image: url(../images/tile.png), url(../images/dm-banner2.jpg);
    background-repeat: repeat, no-repeat;
    background-size:3px, cover;
    /* padding: 90px 360px 34px; */
}

.banner-s{
    width: 100%;
    height: 646px;
    margin-top: 101px;
    background-image: url(../images/tile.png), url(../images/ds-banner.jpg);
    background-repeat: repeat, no-repeat;
    background-size:3px, cover;
    /* padding: 90px 360px 34px; */
}

.icon-list{
    width: 131px;
    height: 25px;
    /* border: 1px solid red; */
    margin-top: 65px;

    display: flex;
}

.eye{
    background-image: url(../images/eye.svg);
    height: 25px;
    min-width: 25px;
}

.size{
    font-size: 24px;
    color: white;
    margin-right: 22px;
}

.info{
    width: 100%;
    margin-top: 30px;
    /* border: 1px solid red; */
    display: flex;
}

.info-p{
    color: #F4F4F4;
    line-height: 24px;
    margin-top: 10px;
}

.stream {
    margin-left: 250px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.stream img{
    width: 50px;
}

.disney{
    /* width: 80px; */
    /* height: 80px; */
    border-radius: 50px;
    background-color: #1A1D29;
    margin-left: 10px;
}

.poster{
    width: 100%;
    height: 422px;
    /* padding: 0 102px; */
    margin: 48px auto 0;
    /* position: relative; */
    /* border: 1px solid red; */
    vertical-align: top;

    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    align-content: flex-start;
    /* justify-content: space-between; */
    justify-content: center;

}

.poster-pic{
    /* border: 1px solid red; */
}

.poster-pic img{
    display: inline-block;
    width: 100%;
}

.poster-pic > img{
    margin-bottom: 9px;
}

/* .poster-pic img:last-child{
    margin-left: 9px;
} */

.in-poster{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;

    /* border: 1px solid blue; */
}

.p-box{
    margin-right: 9px;
}

.in-poster img{
    flex-shrink: 1;
    display: block;
}

.score{
   margin-left: 50px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.score a{
    margin-top: 81px;
}

.about{
    /* border: 1px solid green; */
    margin-top: -63px;
    margin-right: 130px;
    margin-left: auto;
    
}

/* ------photo----- */

.gallery{
    /* border: 1px solid green; */
    margin-top: 200px;

}

.gallery-s{
    /* border: 1px solid green; */
    margin-top: 300px;

}


.subgallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.subgallery img{
    margin-bottom: 16px;
}

.subgallery a{
    display: block;
    flex-basis: 285px;
    height: 468px;
    background-color: #F4F4F4;
    color: #D10F78;
    font-weight: 600;
    
    display: flex;
    justify-content: center;
    align-items: center;
}



.gallery2{
    margin-top: 80px;
}

.crew-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.crew{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 30px;
    flex-basis: 390px;
}



.crew img{
    display: block;
    flex-basis: 160px;
}

.t-block{
    margin-left: 10px;
    padding-top: 34px;
}

.crew a{
    width: 354px;
    height: 160px;
    color: #D10F78;
    font-weight: 600;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cri{
    color: #D10F78;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;

}

/* -------- reviews ------- */

.sub-rw{
    display: flex;
    justify-content: space-between;
}

.user{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 5px 0;

    border-bottom: 1px solid #D9D9D9;
    
}


.ud-block{
    display: flex;
    justify-content: space-between;
}

.ud-block p{
    color: #D9D9D9;
    
}

.ud-block h6{
    line-height: 1.5;
    letter-spacing: 0;
}

.your-rw{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.your-rw img{
    width: 81px;
    display: block;
    height: 81px;
}

.rw{
    margin-left: 20px;
    flex-basis: 450px;
}
.rw .star{
    display: inline-block;
    transform: scale(25);
    margin-right: 50px;
}

.stars{
    margin-left: 30px;
    margin-top: 20px;
}

.rw-tag{
    margin-top: 50px;
    margin-bottom: 10px;
}

.rw-tag .search{
    margin-top: 5px;
    width: 285px;
}

.rw-tag2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.rw-tag2 h6{
    margin-bottom: 10px;
}
.rw-tag2 textarea{
    border: 1px solid #B5B5B5;
    border-radius: 10px;
    background-color: #F4F4F4;
    padding: 10px;
    outline: none;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 2px;
}

.rw-tag2 textarea:focus{
    outline: 1px solid #D10F78;
}

/* ------recommendations----- */

.rec{
   display: flex;
   justify-content: space-between;
}

.sub-rec{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .25);
    width: 284px;
}

.sub-rec img{
    width: 100%;
}

.rec-txt{
    display: flex;
    /* border: 1px solid red; */
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.rec-num{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.rec-num .s-star{
    transform: scale(10);
    display: block;
    margin-right: 15px;

}

.cir-box{
    margin: 40px auto 0;
    display: block;
    width: 100px;
    display: flex;
    justify-content: center;
}

.cir{
    width: 13px;
    height: 13px;
    border-radius: 20px;
    background-color: #06236c;
    display: inline-block;
    margin-right: 10px;
}

.cir2{
    width: 13px;
    height: 13px;
    border-radius: 20px;
    background-color: #06236c;
    opacity: .3;
    display: inline-block;
}

@media screen and (max-width: 1200px){
    .score{
        margin-left: 33px;
        width: 30%;
    }

    .about{
        margin-top: -34px;
    }

    .gallery{
        margin-top: 72px;
    }

    .subgallery img{
        width: 49%;
    }

    .crew{
        flex-basis: 321px;
    }

    .crew img{
        width: 34%;
        flex-basis: 139px;
    }

    .gallery2{
        margin-top: 36px;
    }

    .sub-rw{
        margin-bottom: 20px;
    }

    .sub-rec{
        flex-basis: 234px;
    }

    .cir, .cir2{
        width: 10px;
        height: 10px;
    }

    .crew a{
        flex-basis: 321px;
        width: auto;
    }
    
}



