body{
    color: #fff;
    background-image: linear-gradient(#2b2b2b, #333);
}


.img1{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.img2{
    position: absolute;
    top: 773px;
    left: 360px;
    z-index: 1;
}

.img3{
    position: absolute;
    top: 1417px;
    right: 360px;
}

.img4{
    position: absolute;
    left: 0;
    top: 1613px;
    z-index: 2;
}

.img5{
    position: absolute;
    right: 0;
    top: 1950px;
    z-index: 1;
}

.img6{
    position: absolute;
    left: 0;
    width: 100%;
}


.ls{
    letter-spacing: 20px;
}

.btn-big{
    margin-bottom: 30px;
}

.txt-1{
    margin-left: 102px;
    padding-top: 417px;
    z-index: 2;
    position: relative;
}

.txt-2{
    margin-top: 604px;
}

.txt-3{
    margin-top: 915px;
    margin-left: 102px;
    position: relative;
    z-index: 2;
}

.txt-4{
    display: flex;
    justify-content: space-between;
    margin: 115px 0;

}

.txt-4 li{
    background-color: rgba(255, 255, 255, .5);
    width: 387px;
    height: 519px;
    padding: 64px 18px;
    border-radius: 10px;
}

.txt-4 li img{
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.txt-5{
    display: flex;
    margin-top: 713px;
}

h6{
    padding: 0 25px;
}

.gotic{
    font-family: 'Dela Gothic One', cursive;
}

.c-block{
    background-color: #D10F78;
    width: 285px;
    height: 165px;
    position: absolute;
    z-index: -1;
    top: 1085px;
    right: 461px;
}

