body{
    color: #fff;
    background-image: linear-gradient(#141212, #333);
}


.img1{
    display: block;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    z-index: -1;
}

.b2{
    /* border: 1px solid red; */
    margin-top: 120px;
    height: 430px;
    position: relative;
    /* margin-left: 360px; */
    /* padding-right: 360px; */
    width: 1200px;
    margin: 120px auto 0;
}

.img2{
    display: block;
}

.c-block{
    background-color: #D10F78;
    width: 285px;
    height: 165px;
    margin-left: 720px;
    margin-top: -100px;
    /* position: absolute; */
    /* z-index: -1; */
    /* top: 317px;
    right: 480px; */
}


.img3{
    display: block;
    width: 433px;
    /* margin-right: 360px; */
    /* margin-left: auto; */
    margin-right: 0;
    margin-left: auto;
    margin-top: -65px;
    position: relative;
    z-index: 2;
}

.img4{
    display: block;
    margin-top: -50px;

}

.img5{
    margin-right: 0;
    margin-left: auto;
    display: block;
    position: relative;
    margin-top: -153px;
    z-index: -1;
}

.img6{
    width: 100%;
    display: block;
}

.img6-2{
    background-image: url(../images/index-6-2.jpg);
    width: 100%;
    min-height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 78px;
}


.ls{
    letter-spacing: 20px;
}

.btn-big{
    margin-top: 71px;
    margin-bottom: 30px;
}

.txt-1{
    width: 1200px;
    margin: -300px auto 0 ;
    padding-left: 102px;
}

.txt-2{
    margin: 138px auto 0;
    width: 1200px;
    padding-left: 102px;
}

.txt-2 h5{
    width: 590px;
}

.txt-3{
    width: 1200px;
    margin: 0 auto;
}

.txt-3 h2{
    width: 792px;
    margin-top: -187px;
    margin-left: 102px;
}

.txt-4{
    display: flex;
    justify-content: space-around;
    margin: 50px auto 100px;
    width: 1000px;
}

.txt-4 p{
    padding: 0 25px;
}

.txt-4 li{
    background-color: rgba(255, 255, 255, .5);
    flex-basis: 300px;
    /* min-height: 519px; */
    padding: 40px 30px;
    border-radius: 10px;
    flex-shrink: 0;
}

.txt-4 li:nth-child(2){
    margin: 0 20px;
}

.txt-4 li img{
    width: 70%;
    display: block;
    margin: 0 auto 50px;
    
}

.txt-5{
    display: flex;
    width: 1200px;
    margin: 50px auto;
    align-items: center;
    /* border: 1px solid red; */
}

.number{
    text-align: right;
    margin-right: 119px;
    /* outline: 1px solid red; */
    width: 489px;
}

.number h2{
    line-height: 1;
    margin-bottom: 0;
}

.number h6{
    line-height: 2;
    margin-bottom: 10px;
}


.number img{
    margin-top: 20px;
}


.cta{
    /* outline: 1px solid blue; */
    color: #D10F78;
    font-weight: 500;
    line-height: 72px;
    width: 590px;
}

.cta h3{
    width: 528px;
}

.cta h3:nth-child(2){
    margin-top: 36px;
}


footer a{
    color: white;
}


.gotic{
    font-family: 'Dela Gothic One', cursive;
}


/* ----------rwd --------- */
@media screen and (max-width: 1200px){
    .txt-1{
        width: 100%;
        padding-left: 10%;
    }

    .txt-2{
        width: 100%;
        margin: -51px auto 0;
        padding-left: 10%;
    }

    .txt-2 h5{
        width: 50%;
    }

    .txt-3{
        width: 100%;
    }

    .txt-3 h2{
        width: 60%;
    }

    .txt-4{
        width: 100%;
        margin: 8px auto 60px;
        padding: 0 10%;
    }

    .txt-4 li{
        flex-basis: 250px;
        padding: 35px 30px;
    }

    .txt-4 li img {
        margin: 0 auto 30px;
    }

    .txt-5{
        width: 100%;
    }
    
    .number{
        width: 40%;
        margin-right: 10%;
    }
    
    .cta{
        width: 50%;
    }

    .cta h3{
        width: auto;
    }

    .cta h3:nth-child(2){
        margin-top: 0;
    }

    .cta .btn-big{
        margin-bottom: 10px;
        margin-top: 40px;
    }

    .b2{
        width: 80%;
    }

    .c-block{
        margin-left: 60%;
        /* width: 80%; */
    }

    h2{
        /* font-size: 7rem; */
        margin-bottom: 15px;
    }

    .img3{
        width: 40%;
    }

    .img5{
        margin-top: -100px;
    }

    .btn-big{
        margin-top: 118px;
    }

    .img6-2{
        background-position: center 68px;
    }
}

@media screen and (max-width: 768px){
    .txt-2{
        margin: -111px auto 0;
    }


    .img4{
        margin-top: -9px;
    }
    
    .img5{
        margin-top: -68px;
    }

    .txt-3 h2 {
        /* font-size: 7rem; */
        width: 80%;
        margin-top: -130px;
    }

    .txt-4{
        flex-direction: column;
        margin: -36px auto 60px;
    }

    .txt-4 li{
        display: flex;
        align-items: center;
        padding: 20px 40px;
        flex-basis: 60%;
        margin: 20px 0;
    }

    .txt-4 li:nth-child(2){
        margin: 0;
    }

    .txt-4 li img{
        width: 200px;
    }

    .txt-4 p{
        padding: 0 50px;
        line-height: 2;
    }

    .number{
        margin-right: 5%;
        width: 48%;
    }

    .number h2{
        font-size: 7rem;
    }
    .number img{
        width: 66%;
    }

    .cta h3{
        line-height: 2;
        font-size: 5rem;
    }
    
    .c-block{
        width: 40%;
        height: 30%;
        margin-top: -73px;
    }

    .b2{
        margin: 87px auto 0;
    }

 

    .txt-4 li img{
        width: 120px;
        margin: 10px 0;
    }

    .txt-4 p{
        padding: 0 20px;
    }
    
}

@media screen and (max-width: 414px){
    .txt-1{
        margin: -268px auto 0;
    }

    .ls {
        letter-spacing: 9px;
    }

    .btn-big{
        margin-bottom: 17px;
        margin-top: 149px;
    }

    h2{
        margin-bottom: 5px;
    }

    .b2{
        margin: 47px auto 0;
    }

    .c-block {
        height: 23%;
        margin-top: -61px;
    }

    .txt-2 {
        margin: -241px auto 0;
    }

    .txt-2 h2{
        margin-bottom: 10px;
    }

    .txt-2 h5{
        width: 55%;
        line-height: 1.5;
        letter-spacing: 2px;
    }

    .img3{
        margin-top: -38px;
    }

    .txt-3 h2{
        margin-top: -68px;
        margin-left: 18%;

    }

    .txt-4{
        margin: -83px auto 30px;
    }

    .txt-4 li{
        padding: 20px 10px;
        min-height: 160px;
        flex-direction: column;
    }

    .txt-4 p{
        padding: 0px;
        padding: 10px 47px;
    }

    .txt-5{
        flex-direction: column;
    }

    .cta {
        width: 72%;
        text-align: center;
        margin-top: 20px;
    }

    .cta .btn-big{
        margin: 30px auto;
    }

    .img6-2{
        background-attachment: scroll;
        /* background-image: url(../images/index-6-2_m.jpg); */
        width: 100%;
        background-size: cover;
        min-height: 200px;
        background-position: center top;
        /* background-size: 100%; */
        /* min-height: 50vh; */
    }

}

