body{
    color: #fff;
    background-image: linear-gradient(#141212, #333);
}


.img1{
    display: block;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    z-index: -1;
}

.b2{
    /* border: 1px solid red; */
    margin-top: 120px;
    height: 430px;
    position: relative;
    margin-left: 360px;
    padding-right: 360px;
}

.c-block{
    background-color: #D10F78;
    width: 285px;
    height: 165px;
    position: absolute;
    z-index: -1;
    top: 317px;
    right: 480px;
}


.img3{
    display: block;
    margin-right: 360px;
    margin-left: auto;
    margin-top: -170px;
}

.img4{
    display: block;
    margin-top: -50px;

}

.img5{
    margin-right: 0;
    margin-left: auto;
    display: block;
    position: relative;
    margin-top: -153px;
    z-index: -1;
}

.img6{
    width: 100%;
}


.ls{
    letter-spacing: 20px;
}

.btn-big{
    margin-bottom: 30px;
}

.txt-1{
    margin-left: 462px;
    width: 700px;
    margin-top: -300px;
}

.txt-2{
    margin: 138px auto 100px 360px;
    width: 600px;
}


.txt-3{
    width: 800px;
    margin-left: 462px;
    margin-top: -274px;
}

.txt-4{
    display: flex;
    justify-content: space-between;
    margin: 202px 0 150px;
    /* padding: 0 360px; */
   
}

.txt-4 h6{
    padding: 0 25px;
}

.txt-4 li{
    background-color: rgba(255, 255, 255, .5);
    width: 371px;
    min-height: 519px;
    padding: 64px 18px;
    border-radius: 10px;
    flex-shrink: 0;
}

.txt-4 li:nth-child(2){
    margin: 0 20px;
}

.txt-4 li img{
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.txt-5{
    display: flex;
    width: 1200px;
    margin: 100px auto;
    align-items: center;
    /* border: 1px solid red; */
}

.number{
    text-align: right;
    margin-right: 119px;
    /* outline: 1px solid red; */
    width: 489px;
}

.number h2{
    line-height: 1;
    margin-bottom: 0;
}

.number h6{
    line-height: 2;
    margin-bottom: 10px;
}


.number img{
    margin-top: 20px;
}


.cta{
    /* outline: 1px solid blue; */
    color: #D10F78;
    font-weight: 500;
    line-height: 72px;
    width: 590px;
}

.cta h3:nth-child(2){
    margin-top: 30px;
    margin-bottom: 56px;
}

footer a{
    color: white;
}


.gotic{
    font-family: 'Dela Gothic One', cursive;
}



