




/* ---------aside------- */

/* .search {
    border: 1px solid #D10F78;
    border-radius: 10px;
    overflow: hidden;
    height: 42px;

}

.search button{
    background-color: hsl(0, 0%, 100%);
    color: #D10F78;
    border: none;
}

.search button i{
    font-size: 25px;
    line-height: 40px;
}

.search input{
    height: 42px;
    width: 200px;
    border: none;
    outline: none;
}
 */


/* --------rank list----- */

.film-list{
    /* border: 1px solid green; */
    margin-left: 20px;
    flex-grow: 1;
    
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: left;
}


.film{
    width: 207px;
    /* border: 1px solid red; */
    margin-left: 16px;
    margin-bottom: 35px;
}

.film a{
    color: #220C25;
}


.film img{
    display: block;
    width: 100%;
    /* margin-bottom: 8px; */
}

.film p:first-child{
    font-weight: 600;
    
}

.film p:last-child{
    font-weight: 400;
    color: #B5B5B5;
    margin-top: 5px;
    line-height: 1;

}