/* -----popular----- */

.wrapper-2 > h4{
    /* margin-bottom: 30px; */
}

.-sub{
    opacity: .5;
    height: 1px;
}

.pop{
    display: flex;
    margin-bottom: 20px;
}

.pop-img{
    flex-basis: 80%;
}

.pop-img img{
    width: 100%;
}

.rec-txt{
    margin: auto 20px;
    padding-right: 20px;
}

.list-name{
    display: flex;
    justify-content: space-between;

}

.list-name h4{
    color: #220C25;
}

.list-name i{
    font-size: 24px;
    color: #D10F78;
}

.rec-txt span{
    font-weight: 500px;
}

.rec-txt p:last-child{
    margin-top: 30px;
    width: 89%;
}

/* ---------banner-------- */

.banner{
    background-image: url(../images/rec-list-banner-2.jpg);
    width: 100%;
    min-height: 427px;
    /* padding: 150px 374px; */
    background-attachment: fixed;
    background-size: cover;
    background-position: top left;
}

.banner-txt{
    width: 1200px;
    margin: 0 auto;
    padding-top: 140px;
}

.banner-txt > h3{
    margin-bottom: 30px;
}

/* ------other lists------ */

aside{
    position: sticky;
    top: 111px;
}

.search{
    margin-bottom: 20px;
    /* position: sticky;
    top: 111px; */
}

.tag-list{
    /* position: sticky;
    top: 111px; */
}

.u-list{
    display: flex;
    margin-left: 124px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid green; */
    margin-bottom: 20px;
}

.users{
    margin-bottom: 20px;
}

.users img{
    width: 385px;

}


/* ------------rwd----------- */
@media screen and (max-width: 1200px){
    .wrapper-2{
        padding: 24px 5% 0;;
    }

    .banner{
        background-position: top center;
    }

    .banner-txt{
        width: auto;
        padding: 130px 5% 0;
    }
}

@media screen and (max-width: 768px){
    .list-name i{
        font-size: 3rem;
    }

    .flex{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .u-list{
        margin-left: 0;
    }

    aside{
        background-color: rgba(255, 255, 255, .7);
        top: 70px;
    }

    .users img{
        width: 100%;
    }
}

@media screen and (max-width: 414px){
    .pop{
        flex-direction: column;
    }

    .rec-txt{
        margin: 10px 20px;
    }

    .rec-txt p:last-child{
        margin-top: 10px;
        width: 100%;
    }
    .num{
        margin-bottom: 30px;
    }

    aside {
        top: 60px;
    }
}

